/* #################### Styles for profile. #################### */

.header {
  height: 25%;
  width: 100%;
  background-color: #777;
  border-top: 2px solid #555;
}

.add-background-img {
  height: 40px;
  width: 60px;
  background-color: black;
  border: 1px solid #333;
  opacity: 0.6;
  text-align: center;
}

.add-background-img > i {
  color: #fefefe;
  font-size: 25px;
  transition: .2s;
  margin-top: 5px;
}

.add-background-img:hover > i {
  margin-top: 8px;
  font-size: 20px;
}

.avatar {
  height: 200%;
  margin-left: 40px;
  margin-top: -80px;
  border: 2px solid #555;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.subnav {
  background: none !important;
}

.display-name {
  margin-left: 18%;
  font-size: 25px;
}

.subnav-items > li {
  margin-top: 10px;
  margin-right: 50px;
}

.subnav-items > li > a {
  color: #fefefe !important;
  min-height: 0 !important;
  height: 50px !important;
}

.add-btn {
  border-radius: 15px;
  background-color: #36a420;
}

.add-btn:hover {
  background-color: #2b9217;
}

.remove-btn {
  border-radius: 15px;
  background-color: #FF0000;
}

.remove-btn:hover {
  background-color: #DC143C;
}

.accept-btn {
  text-transform: none !important;
  border-radius: 15px;
  background-color: #1E90FF !important;
}

.accept-btn:hover {
  border-radius: 15px;
  background-color: #4169E1 !important;
}

.requests-btn {
  border-radius: 15px;
  text-transform: none !important;
}

.friends-btn {
  border-radius: 15px;
  text-transform: none !important;
}

.badge {
  background: #444 !important;
}
