/* #################### Styles for profile. #################### */

.header {
  height: 25%;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #555;
}

.add-background-img {
  height: 35px;
  width: 60px;
  background-color: black;
  border: 1px solid #333;
  opacity: 0.6;
  text-align: center;
}

.add-background-img > a {
  color: #fefefe;
  font-size: 25px;
  transition: .2s;
  margin-top: 5px;
}

.editDropdown {
  padding: 10px !important;
  top: 30px !important;
  min-height: 35px !important;
  min-width: 150px !important;
}

input[type=file] {
    display:block;
    height:0;
    width:0;
}

.avatar {
  height: 200%;
  margin-left: 40px;
  margin-top: -80px;
  border: 2px solid #555;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.subnav {
  background: none !important;
}

.display-name {
  margin-left: 18%;
  font-size: 25px;
  z-index: 9999;
}

.display-name > p > a:hover {
  color: inherit !important;
}

.subnav-items > li {
  margin-top: 10px;
  margin-right: 50px;
}

.subnav-items > li > a {
  color: #333 !important;
  min-height: 0 !important;
  height: 50px !important;
}

.add-friend-btn {
  border-radius: 15px;
}

.more-btn {
  color: #333 !important;
}

.requests-btn {
  border-radius: 15px;
  background: none !important;
}

.requests-btn:hover {
  color: #555 !important;
}

.friends-btn {
  border-radius: 15px;
  background: none !important;
}

.friends-btn:hover {
  color: #555 !important;
}

.badge {
  background: #444 !important;
}

.more-nav {
  top: 58.3px !important;
  left: 960px !important;
  background: #fff !important;
}

.more-nav > ul > li > a {
  color: #333 !important;
}

.editProfile div p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  margin-left: -90px;
}

.editProfile div i {
  margin-bottom: 5px;
  margin-left: 65px;
  font-size: 15px;
}

.editProfile .inputs {
  margin-left: -130px;
}

.info {
  padding: 25px 25px !important;
}

.info div i {
  margin-bottom: 4px;
  font-size: 15px;
}

.infoCard p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-left: -75px;
}

.postarea {
  height: 65px;
  width: 125%;
  padding-right: 40px;
}
.postarea:focus {
  outline: none;
}

.postform {
  margin-left: -75%;
}

.post-btn {
  padding: 0px !important;
}

.post-btn a:hover {
  text-decoration: none;
}

.liked svg path {
  fill: #FF2D00;
  stroke: #A01D00 !important;
}
